$card-prefix-cls: '#{$awesome-prefix}-card';

$card-action-icon-size: 16px;

.#{$card-prefix-cls} {
	position: relative;
	background: $card-background;
	border-radius: $card-radius;

	&-bordered {
		border: $border-width-base $border-style-base $border-color-split;
	}

	&-head {
		min-height: $card-head-height;
		padding: 0 $card-padding-base;
		color: $card-head-color;
		font-weight: 500;
		font-size: $card-head-font-size;
		background: $card-head-background;
		border-bottom: $border-width-base $border-style-base $border-color-split;
		border-radius: $card-radius $card-radius 0 0;

		&-wrapper {
			display: flex;
			align-items: center;
		}

		&-title {
			display: inline-block;
			flex: 1;
			padding: $card-head-padding 0;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
	}

	&-extra {
		float: right;
		margin-left: auto;
		padding: $card-head-padding 0;
		color: $card-head-extra-color;
		font-weight: normal;
		font-size: $font-size-base;
	}

	&-body {
		padding: $card-padding-base;
	}

	&-actions {
		margin: 0;
		padding: 0;
		list-style: none;
		background: $card-actions-background;
		border-top: $border-width-base $border-style-base $border-color-split;
		@include clearfix;

		& > li {
			float: left;
			margin: $card-actions-li-margin;
			color: $text-color-secondary;
			text-align: center;

			> span {
				position: relative;
				display: block;
				min-width: 32px;
				font-size: $font-size-base;
				line-height: $line-height-base;
				cursor: pointer;

				&:hover {
					color: $primary-color;
					transition: color 0.3s;
				}

				a:not(.#{ant-prefix}-btn),
				> .anticon {
					display: inline-block;
					width: 100%;
					color: $text-color-secondary;
					line-height: 22px;
					transition: color 0.3s;

					&:hover {
						color: $primary-color;
					}
				}

				> .anticon {
					font-size: $card-action-icon-size;
					line-height: 22px;
				}
			}

			&:not(:last-child) {
				border-right: $border-width-base $border-style-base $border-color-split;
			}
		}
	}
}
